// Grand Central Station, Main, Vertext..
@import "normalize";
@import "google-homepage";

/* Styling */
div {
    display: block;
    margin: 3em auto;
    margin-top: 3em;
    margin-right: auto;
    margin-bottom: 3em;
    margin-left: auto;
    text-align: center;
    width: 50%;
}
body {
    background: yelllooow;
    font-size: 5em;
}
img {
    width: 50px;
}

//Stage Parent

#stage {
    position: relative;
    overflow: hidden;
}
//Child
#stage svg {
    position: absolute;
    bottom: 0;
    right: 0;
}
#stage h1 {
    position: absolute;
    left: 50%;
    top: 50%;
}

//Animation Go Here
//First Frame
#stage h1, 
#stage svg {
    opacity: 0;
    transition: opacity 2.5s;
    
}
//Last Frame
#stage:hover h1,
#stage:hover svg {
    opacity: 1;
}
